.coneiner7ScrollDados3{
    width: 100%;
    height: 20vh;
    display: flex;
    margin-top: 7%;

}
.Conteiner7ScrollDados3Icone{
    width: 70px;
    margin-left: 2%;
}
.Conteiner7ScrollDados3IconeIcone{
    width: 60px;
    height: 60px;
    border: 3px solid var(--teal-600);
    border-radius: 50%;
}
.Conteiner7ScrollDados3IconeIcone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.Conteiner7ScrollDados3Cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 2px;
    
}
.Conteiner7ScrollDados3Cont b{
    color: var(--teal-600);
    font-size: 1.2em;
}
.Conteiner7ScrollDados3Cont li{
    color: #1f1f1f;
}
.Conteiner7ScrollDados3Estado{
    display: flex;
    gap: 10px;
    font-size: 15px;
}
.Conteiner7ScrollDados3Cont h3{
    color: #1f1f1f;
}
.Conteiner7ScrollDadosContBtns{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;
    margin-top: 2%;

}
.Conteiner7ScrollDadosContBtns button{
    width: 110px;
    height: 5vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 11px;
}
.Conteiner7ScrollDadosContBtns button svg{
    color: var(--white);
}
.Conteiner7ScrollDadosContBtns button:active{
    transform: scale(0.9);
}
.Conteiner7ScrollDadosContBtns button:nth-child(1){
    background-color: maroon;
    color: var(--white);
    font-weight: 600;
}
.Conteiner7ScrollDadosContBtns button:nth-child(2){
    background-color: var(--teal-600);
    color: var(--white);
    font-weight: 600;
}

