.btn3{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    transition: .2s ease;
    cursor: pointer;

}
.btn3 svg{
    width: 18px;
    height: 18px;
}
.btn3:hover:not(.active){
    transition: .2s ease;
    background: rgba(255,255,255,.07);

}
.btn3:hover svg{
    color: var(--white);

}
.btn3:active{
    background-color: var(--teal-400);
}
.btn3:active svg{
    color: var(--white);
}
