.Conteiner5WindowConteinerRight{
    width: 70%;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

}
.Conteiner5WindowConteinerRightMenuTop{
    width: 100%;
    height: 12%;
    display: flex;
    text-align: left;
    align-items: center;
    flex-shrink: 0;

}
.Conteiner5WindowConteinerRightMenuTopCont{
    width: 60%;
    height: 7vh;
    border-radius: 40px;
    background-color: var(--white);
    border: 1px solid #d2d2d2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: var(--gray-500);
}
.Conteiner5WindowConteinerRightMenuTopCont li{
    transition: .2s ease;
    cursor: pointer;
    font-size: 16px;
}
.Conteiner5WindowConteinerRightMenuTopCont li:hover{
    transition: -2s ease;
    color: var(--teal-600);
}
.menu_flutante_ocultar{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10%;
    margin-bottom: 20%;
    width: 50px;
    height: 50px;
    background-color: var(--teal-600);
    border-radius: 50%;
    box-shadow: 0px 0px 30px 3px rgb(3, 162, 162);
    animation: anima_btn_flutuante_tirar 1s ease-in-out infinite alternate;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    transition: .2s ease;
}
.menu_flutante_ocultar:active{
    transition: .2s ease;
    transform: scale(0.9);
}
.menu_flutante_ocultar svg{
    width: 20px;
    height: 20px;
    color: var(--white);
}
@keyframes anima_btn_flutuante_tirar {
    0%{
        box-shadow: 0px 0px 10px 1px rgb(1, 108, 108);
    }
    100%{
        box-shadow: 0px 0px 20px 2px rgb(3, 162, 162);
    }
}
@media screen and (max-width: 880px) {
    .Conteiner5WindowConteinerRight{
        width: 100%;
    }
    .Conteiner5WindowConteinerRightMenuTopCont{
        width: 100%;
    }
    .menu_flutante_ocultar{
        display: flex;
    }
}