
.Conteiner5WindowConteinerRightDashboard{
    width: 100%;
    height: 30vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

}

.Conteiner5WindowConteinerRightDashboardBox{
    width: 32%;
    height: 85%;
    background-color: var(--white);
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    overflow: hidden;

}
.Conteiner5WindowConteinerRightDashboardBoxCaxa1{
    width: 100%;
    height: 6vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

}
.Conteiner5WindowConteinerRightDashboardBoxCaxa1 svg{
    color: var(--teal-600);
}
.Conteiner5WindowConteinerRightDashboardBoxCaxa2{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 5%;
}
.Conteiner5WindowConteinerRightDashboardBoxCaxa2 b{
    font-size: 1.8rem;
    color: var(--teal-600);
}
.Conteiner5WindowConteinerRightDashboardBoxCaxa2 li{
    font-size: 14px;
    color: var(--gray-500);
}
.circulo1{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: var(--teal-100);
    border-radius: 50% 50% 0% 50%;
    margin-bottom: -6%;
    margin-right: -5%;
}
.Conteiner5WindowConteinerRightAtividades{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    margin-top: 5%;

}
.Conteiner5WindowConteinerRightAtividadesBox{
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-shrink: 0;
}
.Conteiner5WindowConteinerRightAtividadesBox .Conteiner5WindowConteinerRightAtividadesBoxDados:first-child{
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid #d2d2d2;
}
.Conteiner5WindowConteinerRightAtividadesBox .Conteiner5WindowConteinerRightAtividadesBoxDados:last-child{
    border-radius: 0px 0px 20px 20px;
    border-bottom: 0px;
}
.Conteiner5WindowConteinerRightAtividadesBoxDados{
    width: 100%;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    border-bottom: 1px solid #d2d2d2;
    transition: .2s ease;
    cursor: pointer;

}
.Conteiner5WindowConteinerRightAtividadesBoxDados:hover{
    transition: .2s ease;
    background-color: var(--teal-50);
}
.Conteiner5WindowConteinerRightAtividadesBoxDados span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--teal-600);
}
.Conteiner5WindowConteinerRightAtividadesBoxDadosText{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.Conteiner5WindowConteinerRightAtividadesBoxDadosText b{
    font-size: 16px;
    color: var(--teal-600);
}
.Conteiner5WindowConteinerRightAtividadesBoxDadosText li{
    color: var(--gray-500);
}
.Conteiner5WindowConteinerRightMetricasPerformance{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-top: 10%;
    gap: 10px;


}
.Conteiner5WindowConteinerRightMetricasPerformanceBox{
    height: 90%;
    height: 30vh;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--shadow-sm);
    padding: 4%;
    gap: 20px;
    padding-bottom: 7%;
    
}
.Conteiner5WindowConteinerRightMetricasPerformanceBoxDados div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.Conteiner5WindowConteinerRightMetricasPerformanceBoxDados{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 3px;

}
.Conteiner5WindowConteinerRightMetricasPerformanceBoxDados b{
    font-weight: 500;
    font-size: 15px;
}
.Conteiner5WindowConteinerRightMetricasPerformanceDadosLoading{
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 30px;
}
.Conteiner5WindowConteinerRightMetricasPerformanceDadosLoadingLiquido1{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--teal-600);
}
.Conteiner5WindowConteinerRightMetricasPerformanceDadosLoadingLiquido2{
    width: 65%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(20, 220, 220);

}
.Conteiner5WindowConteinerRightMetricasPerformanceDadosLoadingLiquido3{
    width: 73%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(0, 132, 255);

}
@media screen and (max-width: 880px) {
    .Conteiner5WindowConteinerRightDashboard{
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 10px;
        height: 30vh;
    }
    .Conteiner5WindowConteinerRightDashboardBox{
        flex-shrink: 0;
        width: 55vh;
        height: 30vh;
        padding: 5%;
    }
    .Conteiner5WindowConteinerRightAtividades{
        margin-top: 5%;
    
    }
    .Conteiner5WindowConteinerRightAtividadesBoxDados{
        gap: 20px;
    }
    .Conteiner5WindowConteinerRightAtividadesBoxDadosText b{
        font-size: 15px;
    }
    .Conteiner5WindowConteinerRightMetricasPerformance{
        margin-top: 14%;
    }
}